<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Temperature and Humidity</title>
</head>
<body class="graph-wrap">
    <nav class="gnb">
        <a href="/">HOME</a>
        <a href="/graph">GRAPH</a>
    </nav>

    <div class="canvas-wrap">
        <canvas id="canvas"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
    <script src="/static/graph.js"></script>
</body>
</html>