<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Temperature: {{temp}} Humidity: {{humi}}</title>
</head>
<body>
    <nav class="gnb">
        <a href="/">HOME</a>
        <a href="/graph">GRAPH</a>
    </nav>

    <div class="temp">Temperature : {{temp}}</div>
    <div class="humi">Humidity : {{humi}}</div>
</body>
</html>